*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches';
  background-image: url('images/lights-back.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 25px;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

.btn:hover {
    border-color: black;
  }

.start-btn, .next-btn, .restart-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.score{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.questionCount{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.correctImage {
  width: 600px;
  height: 300px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

}
.wrongImage {
  width: 600px;
  height: 300px;
  max-width: 80%;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
}

.finalImage {
  width: 600px;
  height: 300px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.next-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.submit-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* @media screen and (min-width: 412px) and (max-width: 1000px) {

  .container {
    width: 400px;
    max-width: 70%;
    max-height: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    }

    #question {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
      }
    .btn-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        font-size: 25px;
      }

    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .score{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .feedback {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: center;
    }

    .correctImage {
      width: 300px;
      height: 150px;
      max-width: 80%;
      background-color: white;
      border-radius: 5px;
      padding: 10px;

    }
    .wrongImage {
      width: 300px;
      height: 150px;
      max-width: 80%;
      background-color: black;
      border-radius: 5px;
      padding: 10px;
    }
    .finalImage {
      width: 300px;
      height: 150px;
      max-width: 80%;
      background-color: white;
      border-radius: 5px;
      padding: 10px;
    }
} */
